* {
    margin: 0;
    box-sizing: border-box;
    color: gray;
    scroll-behavior: smooth;
}

header {
    background-image: url('../imagens/redimensionadas/banner_extendido_invertido1440x600.png');
    background-size: cover;
    background-position: center;
    min-height: 290px;
    padding: 30px;
}

.container {
    max-width: 1400px;
    /* Largura máxima do container */
    padding: 0 2%;
    margin: 0 auto;
}

.descricao-produto {
    padding: 50px 15px;
    float: left;
    width: 50%;
}

.descricao-produto h3 {
    color: gray;
    font-size: 23px;
}

.descricao-produto p {
    margin-top: 15px;
    color: gray;
}

.clear {
    /* ToDo: Pesquisar o que é essa bagaça */
    /* Explicação professor: Impede que os elementos flutuem de ambos os lados*/
    clear: both;
}

.logo {
    position: relative;
    background-image: url('../imagens/redimensionadas/logoNovo_300x300.png');
    background-size: 100% 100%;
    /* Faz com que a imagem se adeque 100% na horizontal e vertical */
    width: 120px;
    height: 120px;
    float: left;

    margin-top: 30px;
    margin-left: 100px;
    /* Alinha o item para a esquerda */
}

nav.desktop {
    float: right;
    /* Alinha o item para a direita */
}

nav.mobile {

    display: none;

}

nav.desktop ul {
    list-style-type: none;
    /* Desativando os marcadores dos itens da lista */
}

nav.desktop li {
    /* display: inline; */
    /* Coloca os itens da lista em linha */
    margin: 0 15px;
    /* Separa os elementos da lista */
}

nav.desktop a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: gray;
}

nav.mobile {
    display: none;
}

nav.mobile li {
    padding: 10px 0;
}

nav.mobile li.btn-orcamento {
    padding: 4px 10px;
    display: inline-block;
}

nav.mobile ul {
    position: absolute;
    width: 100%;
    background-color: red;
    left: 0;
    text-align: center;
    padding: 50px 0 30px 0;
    display: none;
}

nav.mobile a {
    text-decoration: none;
    color: aqua;
}

nav.mobile i {
    position: relative;
    z-index: 2;
    color: #fff;
}

div.chamada-mkt {
    padding: 120px 0;
}

div.chamada-mkt h2 {
    font-size: 45px;
    color: gray;
    margin-top: 30px;
    margin-left: 55px;
}

.chamada-mkt p {
    font-size: 19px;
    text-align: 200px;
    color: gray;
    margin-left: 5%;
}

.chamada-mkt form {
    margin-top: 15px;
}

.chamada-mkt input[type=email] {
    width: 250px;
    height: 45px;
    border-radius: 100px;
    background-color: white;
    border: 0px;
    padding-left: 13px;
}

.chamada-mkt input[type=submit] {
    background-color: rgb(207, 238, 248);
    border-radius: 100px;
    width: 100px;
    height: 45px;
    cursor: pointer;
    border: 0px;
}

.sessao-01 {
    text-align: center;
    padding: 30px 0;
    background: linear-gradient(lightgray, white, lightgray);
}

.sessao-01 img {
    width: 40%;
    float: left;
    max-width: 500px;
}

section div.container {
    max-width: 1200px;
    padding: 10px;
    display: table;
}

.sessao-02 {
    padding: 20px;
    background: linear-gradient(lightgray, white, lightgray);
}

.sessao-02>.container {
    bottom: -30%;
}

.feedback {
    position: absolute;
    background: rgb(230, 248, 253);
    max-width: 500px;
    padding: 45px;
    box-shadow: 0 9px 20px 0 rgba(0, 4, 7, 0.9);
    margin-left: 45%;
    margin-top: 5%;
}

.feedback cite {
    font-size: 19px;
    color: gray;
    font-weight: bold;
}

.sessao-03 {
    background: linear-gradient(lightgray, white, lightgray);
}

.sessao-03 h2 {
    text-align: center;
    padding: 20px;
}

.imagens {
    position: relative;
    display: inline-block;
    font-size: 20px;
}

.imagens a {
    text-align: center;
    text-decoration: none;
    padding: 2px;
    border-radius: 30px;
    background-color: rgb(207, 238, 248);
    border: 0px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100px;
    margin-left: 100px;
}

footer {
    padding: 20px;
    background: linear-gradient(lightgray, white, lightgray);
}

/* =============== Versão Mobile ================ */

@media screen and (max-width: 1024px) {
    /* Quando a tela tem no máximo 1024 então essas propriedades passam a valer */

    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;
    }

    div.chamada-mkt {
        text-align: center;
    }

    div.chamada-mkt input[type=email] {
        position: relative;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .descricao-produto {
        width: 100%;
    }

    section.sessao-01 img {
        position: relative;
        width: 100%;
        display: block;
        margin: 0 auto;
        float: none;
    }

    .feedback {
        position: absolute;
        margin-top: -90%;
        transform: translate(-15%, 500%);
        width: 80%;
    }
}